 /* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px #FF0000;
  height: 100px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px #FF0000;
  
}


/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: #fdfcfc;
  padding: 20px;
  max-width: 200px;
  /*max-height: 100px;*/
  position: relative;
}

/* Main column */
.main {   
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: white;
  /*padding: 20px;*/
  max-width: 1000px;
  margin: auto;
  /*padding: 24px 15px;*/
  font-family: serif;
  font-size: large;
  padding-left: 100px;
  text-align: center;
  
}

 /* Style the body */
/* body {
    font-family: Arial;
    margin: 0;
  }*/
  
 

  
  /* Page Content */
  /*.content {
      max-width: 500px;
      margin: auto;
      padding:20px;
      font-family: serif;
      font-size: large;
  }*/

/*  hover */
  .hoverWrapper:hover #hoverShow1 {
    display: block;
   }
   .hoverWrapper #hoverShow1 {
    display: none;
    position: absolute;
    background-color: #06c4f3;
    width: 100px;
    height: 50px;
    left: 90px;
    top: 20px;
   }

   .hoverWrapper:hover #hoverShow2 {
    display: block;
   }
   .hoverWrapper #hoverShow2 {
    display: none;
    position: absolute;
    background-color: #cff306;
    width: 100px;
    height: 50px;
    left: 90px;
    top: 20px;
   }
   .hoverWrapper:hover #hoverShow3 {
    display: block;
   }
   .hoverWrapper #hoverShow3 {
    display: none;
    position: absolute;
    background-color: #f8193e;
    width: 100px;
    height: 30px;
    left: 90px;
    top: 200px;
   }


   #logo {
    background-image: url(t.png);
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    width:50px; 
    height:50px;