
* {
  margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}
/* -------- DARK MODE LAYOUT-------- */
.mode { float:right; }
.change {
      cursor: pointer;
      border: 1px solid #555;
      border-radius: 40%;
      width: 20px;
      text-align: center;
      padding: 5px;
      margin-left: 8px;
}
.dark{
      background-color: #222;
      color: #e6e6e6;
}
/* -------- HEADER LAYOUT-------- */
.header {
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px #FF0000;
  height: 105px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  padding: 10px;
  padding-bottom: 1%;
  margin: auto;
}
/* -------- FOOTERLAYOUT-------- */
.footer {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px #FF0000;
  
}
/* -------- IMAGES LAYOUT-------- */
.img {
  width: 50%;
  height: auto;
}
/* -------- COLUMN CONTAINER LAYOUT-------- */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
/* -------- 3 UNEQUAL COLUMNS FLOATS NEXT TO EACH OTHER LAYOUT-------- */
.column {
  float: left;
  
}
.left{
  
  position: fixed;
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color:none;
  padding: 2px;
  
}
.middle {
  /* width: 50%;*/
   
   text-align: center;
   padding: 2px;
   background: #1abc9c;
 
 }
.main {
  
  
  /*background-color: rgb(255, 255, 255);
  /*padding: 20px;*/
  max-width: 1000px;
  margin: auto;
  /*padding: 24px 15px;*/
  font-family: serif;
  font-size: large;
  text-align: center;  
  padding-top: 2px;
}
/* -------- HOVER 1 MODE LAYOUT-------- */
.hoverWrapper:hover #hoverShow1 {
  display: block;
 }
 .hoverWrapper #hoverShow1 {
  display: none;
  position: absolute;
  background-color: #06c4f3;
  width: 100px;
  height: 50px;
  left: 90px;
  top: 20px;
 }
/* -------- HOVER 2 MODE LAYOUT-------- */
 .hoverWrapper:hover #hoverShow2 {
  display: block;
 }
 .hoverWrapper #hoverShow2 {
  display: none;
  position: absolute;
  background-color: #cff306;
  width: 100px;
  height: 50px;
  left: 90px;
  top: 20px;
 }
 /* -------- HOVER 1 MODE LAYOUT-------- */
 .hoverWrapper:hover #hoverShow3 {
  display: block;
 }
 .hoverWrapper #hoverShow3 {
  display: none;
  position: absolute;
  background-color: #f8193e;
  width: 100px;
  height: 30px;
  left: 90px;
  top: 200px;
 }


 #logo {
  background-image: url(t.png);
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width:50px; 
  height:50px;